<a href="https://colab.research.google.com/github/purnimabepala/Python-/blob/main/29_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=int(input())
for num in range(2,n):
  for i in range(2,num):
    if num%i==0:
      break
  else:
    print(num,end=" ")

4
2 3

In [ ]:

#leaf year
Year=int(input())
if(Year%4==0 and Year%100!=0) or Year%400==0:
  print("Leap year")
else:
  print("Non leaf year")

5050
Non leaf year

In [ ]:

#fabinocci series
n=int(input())
a,b=0,1
for i in range(n):
  print(a,end=" ")
  a,b=b,b+a

34
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578

In [ ]:

#count
n=int(input())
count=0
while n>0:
  n=n//10
  count+=1
print(count)

350
3

In [ ]:

#count
n=int(input())
count=0
for i in str(n):
  count+=1
print(count)

34567
5

In [ ]:

#palindrome
n=int(input())
s=str(n)
if s==s[::-1]:
  print("palindrome")
else:
  print("not palindrome")

343
palindrome

In [ ]:

#factorial
n=int(input())
fact=1
for i in range (1,n+1):
  fact*=i
print(fact)

4
24