<a href="https://colab.research.google.com/github/purnimabepala/Python-/blob/main/2_1_lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num1 = 10
num2 = 14
num3 = 12

if (num1 > num2) and (num1 > num3):
    largest = num1
elif (num2 > num1) and (num2 > num3):
    largest = num2
else:
    largest = num3

print("The largest number is", largest)

The largest number is 14

In [ ]:
lower = 2
upper = 10

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

Prime numbers between 2 and 10 are:
2
3
5
7

In [ ]:
num1=complex(2,3)
num2=complex(4,5)

#addition
sum_result=num1+num2
#multiplication
product_result=num1*num2

#display the results
print("first complex number:",num1)
print("second complex number:",num2)
print("sum:",sum_result)
print("product:",product_result)

first complex number: (2+3j)
second complex number: (4+5j)
sum: (6+8j)
product: (-7+22j)

In [ ]:
num=int(input("enter a number to print its multiplication table: "))
print(f"\nMultiplication table of {num}:\n")
for i in range(1,11):
    print(f"{num} * {i} = {num*i}")

enter a number to print its multiplication table: 6

Multiplication table of 6:

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60