<a href="https://colab.research.google.com/github/purnimabepala/Python-/blob/main/Datatypes%20and%20loops%20_program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=4
print(x)
type(x)

4

int

In [ ]:
r=int(input())
for i in range(r,0,-1):
    print("*"*i)

6
******
*****
****
***
**
*

In [ ]:

n = 5
for i in range (1, n+1):
    print(" * " * i)

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [ ]:
n =int(input ())
for i in range (n, 0,-1):
    print(" " * (n - i) + "*" * (2*i-1))

5
*********
 *******
  *****
   ***
    *

In [ ]:
n=int(input ())
for i in range (1,n+1):
    print (" "*(n-i)+'*'*(2*i-1))

6
     *
    ***
   *****
  *******
 *********
***********

In [ ]:
for x in range(65,69):
    for y in range(65,x+1):
        print(chr(x),end=" ")
    print()

A
B B
C C C
D D D D

In [ ]:

for x in range(1,6):
    for y in range (1,6):
      print(int(y),end="")
    print()

12345
12345
12345
12345
12345

In [ ]:

n= int(input())
for i in range(n):
  for i in range(n):
    print("*",end="")
  print()

4
****
****
****
****

In [ ]:
n=5
for i in range(n):
    print("*",end="")

*****

In [ ]:
for i in range(1,5):
  for j in range(-1,i+1):
    print("*",end="")
  print()

***
****
*****
******

In [ ]:

i=0
n=int(input())
while (i<n):
  print(i)
  i+=1

5
0
1
2
3
4

In [ ]:
for i in range(6):
  if(i==2):
    continue
  print(i)

0
1
3
4
5

In [ ]:
for i in range (1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(8):
  if(i==4):
    break
  print(i)

0
1
2
3

In [ ]:
for x in range(1,6):
    for y in range(1,6):
      print(int(y),end="")
    print()

12345
12345
12345
12345
12345

In [ ]:
a=int(input())
for i in range(a):
     print("*"*a)

5
*****
*****
*****
*****
*****

In [ ]:
k=int(input())
h=int(input())
if(h>k and k<h):
    print("qiuzbuiz")
elif(h>k and k>h):
    print("quiz")
else:
    print("buiz")

34
65
qiuzbuiz

In [ ]:

#area of rectangle
L=int(input())
B=int(input())
area=1/2*L*B
print(area)

45
4
90.0

In [ ]:
#area of circle
R=int(input())
area=3.141*R*R
print(area)

3
28.269

In [ ]:

#area if triangle
l=3
b=3
area=l*b
print(area)

9

In [ ]:
#calculator
a=int(input())
b=int(input())
c=input("enter operation:")
if(c=='+'):
    print("sum is",a+b)
elif(c=='-'):
    print("sub is",a-b)
elif(c=='*'):
    print("mul is",a*b)
elif(c=='/'):
    print("div is",a/b)
elif(c=='%'):
    print("per is",a%b)

4
6
enter operation:+
sum is 11

In [ ]:
for i in range (2,11,2):
  print(i)

2
4
6
8
10

In [ ]:
a=int(input())
if(a<20):
  print("charge your phone")
elif(a<=50):
  print("use your phone limit")
else:
  print("use your phone")

567
use your phone

In [ ]:
fruit=["apples","bananas","grapes"]
for i in fruit:
  print(i)

apples
bananas
grapes

In [ ]:
F=(1,2,3,4,5,6,7,8,)
for i in F:
  print(i)

1
2
3
4
5
6
7
8

In [ ]:
a=int(input())
b=int(input())
c=input("enter operation:")
if(c=='+'):
    print(a+b)
elif(c=='-'):
    print(a-b)
elif(c=='*'):
    print(a*b)
elif(c=='/'):
    print(a/b)
elif(c=='%'):
    print(a%b)

4
5
enter operation:-
-1

In [ ]:
a=int(input())
if(a<10):
   print("true")
else:
   print("false")

45
false

In [ ]:
a=(input())
if(a=="greenball"):
  print("found")
else:
  print("not found")

blue
not found

In [ ]:
a=int(input())
if(a>10):
  print("a is greater than 10")
elif(a==10):
  print("a is equal to 10")
else:
  print("a is less than 10")

2
a is less than 10

In [ ]:
X=int(input())
print("eligible for vote",X>=18)
print("not eligible for vote",X<=18)

4
eligible for vote False
not eligible for vote True

In [ ]:
a=int(input())
print("even number",a%2==0)
print("odd number",a%2!=0)

5
even number False
odd number True

In [ ]:
x=0.65
type(x)

float

In [ ]:
F=['1','2','3']
type(F)

list

In [ ]:
X=int(4)
Y=float(7)
print(X)
print(Y)
print(X+Y)

4
7.0
11.0

In [ ]:
a=5
print(a)
type(a)

5

int

In [ ]:
X="karthik"
print(X)
type(X)

karthik

str