<a href="https://colab.research.google.com/github/purnimabepala/Python-/blob/main/Gopi_sir_class_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=int(input())
b=int(input())
c=(a*a)+(b*b)+(2*a*b)
print(c)

3
4
49

In [ ]:
print("\teastern power corporation\n")
print("\tmeter number    :234561577")
print("\tcustomer name   :bepala Krishna ")
print("\tcurrent units   :100          ")
print("\tprevious units  :30          ")
print("\ttotal units     :70          ")
print("\ttotal amount    :420          ")

	eastern power corporation

	meter number    :234561577
	customer name   :bepala Krishna
	current units   :100
	previous units  :30
	total units     :70
	total amount    :420

In [ ]:
print("\t\t\tEASTERN POWER CORPORATION")
A=input("meter number:")
B=input("customer name:")
C=int(input("current units:"))
D=int(input("previous units:"))
Total=C-D
Amount=Total*6
print("Total units is",Total)
print("Bill amount is",amount)

			EASTERN POWER CORPORATION

In [ ]:
A=input("enter your name")

enter your name  Purnima

In [ ]:
A=input("htno")

htno23054012245

In [ ]:
A=input("street")

street  Reddikastreet

In [ ]:
A=input("father name")

father name  Tirupathi reddi

In [ ]:
Fno=input("enter first number")
B=input("second number")
print("my collage name in ",Fno)
print("myy phone in   ",B)

enter first number1
second number2
my collage name in  1
myy phone in    2

In [ ]:
A=("8074376562")
B=("purnima")
C=("AID")
D=("kiet womens")
print("my number is", A)
print("my name is",B)
print("my department name is", C)
print("my college name is",D)

my number is 8074376562
my name is purnima
my department name is AID
my college name is kiet womens

In [ ]:
print("kiet")
print("korangi")
print("kakinada\neast godavari \n\nap\t\t533002")

kiet
korangi
kakinada
east godavari

ap		533002

In [ ]:
A=123456
print(A)

123456

In [ ]:
print("  BIODATA  ")
print("BEPALA.PURNIMA")
print("D/O: Tirupathi reddi")
print("mobile number:8074376562")
print("D.O.B:18-12-2005")
print("b.s.puram")
print("mandasa")
print("srikakulam")
print("hobbies:sleeping,watching movies")

  BIODATA
BEPALA.PURNIMA
D/O: Tirupathi reddi
mobile number:8074376562
D.O.B:18-12-2005
b.s.puram
mandasa
srikakulam
hobbies:sleeping,watching movies

In [ ]:
A=input("enter first number")
B=input("enter second number")
C=A+B
print("sum is",C)

enter first number7
enter second number1
sum is 71

In [ ]:
r=10+5
print("sum is",r)
r=10-5
print("diff is",r)
10*5
print(r)
r=10/5
print(r)

sum is 15
diff is 5
5
2.0

In [ ]:

print(" BOARD OF seconday EDUCATION")
print("_______________________________")
print("\tMARKS MEMO")
print("roll number  :22025606203")
print("candidate name:bepala purnima")
print("father name   : Tirupathi reddi")
print("______________________________________________________")
print("|subject        |  secured marks.   |    result   | ")
print("|first language |     90            |      p      | ")
print("|second language|     85            |      p      |")
print("|third language |     90            |      p      |")
print("|mathematics    |     95            |      p      | ")
print("|science        |     90            |      p      |")
print("|social studies |     90            |      p      | ")
print("|_______________|___________________|_____________|___")
print("grand total:540")
print("result: first division ")

 BOARD OF seconday EDUCATION
_______________________________
	MARKS MEMO
roll number  :22025606203
candidate name:bepala purnima
father name   : Tirupathi reddi
______________________________________________________
|subject        |  secured marks.   |    result   |
|first language |     90            |      p      |
|second language|     85            |      p      |
|third language |     90            |      p      |
|mathematics    |     95            |      p      |
|science        |     90            |      p      |
|social studies |     90            |      p      |
|_______________|___________________|_____________|___
grand total:540
result: first division