<a href="https://colab.research.google.com/github/purnimabepala/Python-/blob/main/Hackathon_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
A=int(input())
B=int(input())
C=A-B
print(A+B)

10
3
13

In [ ]:
print("\t\t\tSTUDENT DEATILS")
a=str(input("NAME OF THE STUDENT:"))
b=str(input("ROLL NUMBER: "))
c=str(input("BRANCH: "))

			STUDENT DEATILS
NAME OF THE STUDENT:Purnima
ROLL NUMBER: 24JN1A4506
BRANCH: AID

In [1]:
Karthikeya
a=str(input(a,e,i,o,u))
print("a")

NameError: name 'Karthikeya' is not defined

In [ ]:

a=int(input())
if(a%2==0):
    print("even")
else:
    print("odd")

7
odd

In [ ]:
UnNumber=20
if(Number%2==0):
    print("even")
else:
    print("odd")

even

In [ ]:

a=int(input())
b=int(input())
c=int(input())
if(a>b and a>c):
     print("a")
elif(b>a and b>c):
     print("b")
else:
     print("c")

49
40
50
c

In [ ]:
A=int(input())
if(a%2==0):
    print("even")
else:
    print("odd")

3
odd

In [ ]:
a=int(input())
b=int(input())
a,b=b,a
print(a)
print(b)

6
7
7
6

In [ ]:
Number=60
if(Number%5==0):
    print("fiz")
else:
    print("biz")

fiz

In [ ]:
n=15
if(n%5==0):
    print("fiz")
elif(n%3==0):
    print("buz")
else:
    print("fiz buz")

fiz

In [ ]:
#task-3 printing 5 table
for i in range(1,500):
    if(i%5==0):
        print(i)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100
105
110
115
120
125
130
135
140
145
150
155
160
165
170
175
180
185
190
195
200
205
210
215
220
225
230
235
240
245
250
255
260
265
270
275
280
285
290
295
300
305
310
315
320
325
330
335
340
345
350
355
360
365
370
375
380
385
390
395
400
405
410
415
420
425
430
435
440
445
450
455
460
465
470
475
480
485
490
495

In [3]:
a=3
b=4
K=a**2+b**2+2*a*b
print(K)

49

In [2]:
#print numbers 50 to 100
for i in range(50,100):
 if(i%1==0):
     print(i)

50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
def addition (a,b):
    print(a+b)
def sub(a,b):
    print(a-b)
addition (1,3)
sub(49,45)

4
4

In [ ]:
#task-4 print 21 table
for i in range(1,210):
    if(i%21==0):
        print(i)

21
42
63
84
105
126
147
168
189

In [ ]:
A=int(input())
if(A>=18):
    print("eligible for voting")
else:
    print("not eligible for voting")

19
eligible for voting

In [ ]:
for i in range(1,21):
    if(i%2==0):
        print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
2
A=int(input())
B=int(input())
C=int(input())
if(A>B):
    print("B")
elif(B>A):
    print("A")
else:
    print("C")

8
4
2
B

In [ ]:
A=int(input())
if(A<0):
    print("negative number")
elif(A>0):
    print("positive number")
else:
    print("0")

8
positive number

In [ ]:
N=int(input())
if(N==80):
    print("A grade")
elif(55<=N<80):
    print("B grade")
else:
    print("C grade")

80
A grade