<a href="https://colab.research.google.com/github/purnimabepala/Python-/blob/main/Loops_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for x in range(2,101):
  print(x)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
for x in range(2,101,1):
  print(x)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range(9):
  print(x)

0
1
2
3
4
5
6
7
8

In [ ]:
for x in range(65,70):
  for y in range(65,x+1):
    print(chr(y),end="")
  print()

A
AB
ABC
ABCD
ABCDE

In [ ]:
n=int(input())
for i in range(1,30):
  print(n,"*",i,"=",n*i)

5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60
5 * 13 = 65
5 * 14 = 70
5 * 15 = 75
5 * 16 = 80
5 * 17 = 85
5 * 18 = 90
5 * 19 = 95
5 * 20 = 100
5 * 21 = 105
5 * 22 = 110
5 * 23 = 115
5 * 24 = 120
5 * 25 = 125
5 * 26 = 130
5 * 27 = 135
5 * 28 = 140
5 * 29 = 145

In [ ]:
a=input("enter the alphabet: ")
if a in ('a','e','i','o','u','A','E','I','O','U'):
  print(a,"is a vowel")
else:
  print(a,"is not a vowel")

enter the alphabet: H
H is not a vowel